dosbox-template.conf
pick-one.cache
pick-one.svn.cache
ibm-pc/jill-of-the-jungle-v1.2-shareware/jill/*
ibm-pc/wolfenstein-3d-v1.4-shareware/WOLF3D/*
nec-pc98/touhou-project-01-highly-responsive-to-prayers/*.hdi
nec-pc98/touhou-project-01-highly-responsive-to-prayers/TH01
anex86.bmp
FREECG98.BMP
*.hdi
*.HDI

